@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand",sans-serif;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}