.sliderImage{
    height: 105vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://static.wixstatic.com/media/913c35_7a841aa64ddf4d738eb2e8fdd4bc5525~mv2_d_2910_1878_s_2.png/v1/fill/w_2560,h_1640,al_c,q_95,usm_0.66_1.00_0.01,enc_auto/ORG__OH_1836_edited.png');
    // background-image: url('https://cdn.shopify.com/s/files/1/0579/3795/2829/files/ORTA-BANNER-BUILDER_2808x.jpg?v=1670502519');
}
// .forLogo{
//     height: 85px;
//   .logoWrapper{
//     width: 40%;
  
// }
@media screen and (max-width:767px){
 .sliderImage{
    height: 90vh;
 }
}